<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 1.遍历对象中，如果只获取一个值，则为value -->
        <ul>
            <li v-for="item in info">{{item}}</li>
        </ul>
        <ul>
            <li v-for="(item,key) in info">{{key}}-{{item}}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el:'#app', 
            data:{  
                info:{
                    name:'why',
                    age:18,
                    height:1.88
                }
            },
            computed:{
            },
            methods:{ 
            }
        })
        </script>
</body>
</html>